<html>

<head>
    <base href="../../../">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UnitPal</title>
    
    <!-- Fonts -->
    <link href='assets/client/static-assets/css/roboto-font.css' rel='stylesheet' type='text/css'>
    
    <!-- CSS -->
    <link href="assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/client/static-assets/css/custom.css" rel="stylesheet">
    <link href="assets/client/static-assets/css/unitpal-print.css" rel="stylesheet">

    <!-- JS Libraries -->
    <script src="assets/node_modules/jquery.1/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body style="overflow:visible;">

    <% bookingConfirmationVMList.forEach(function(bookingConfirmationVM){ %>
        <div style="page-break-after:always; margin: 24px;">
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-7">
                    <div class="row" style="font-size: 12px;">
                        <div class="col-xs-8">
                            <b style="font-size: 14px;"><%= hotelNameValue %></b>
                            <br>
                            <small><%= hotelWebsite %></small>
                        </div>
                        <div class="col-xs-4">
                            <img src="<%= hotelLogoSrcValue %>" style="height:35px"/>
                        </div>
                        <div class="col-xs-12">
                            <p><b><%= hotelAddressLabel %>:</b>
                                <%= hotelAddressValue %>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p><b><%= hotelContactLabel %>:</b>
                                <%= hotelContactValue %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row" style="height:25px">
                        <div class="col-md-12" style="height:100%">
                            <i style="position: absolute; right: 15px; bottom: 0;"><%= headerTitle %></i><br><br>
                        </div>
                    </div>
                    <div class="row" style="height:35px">
                        <div class="col-md-12" style="height:100%">
                            <p style="position: absolute; top:10px; right:12px; bottom: 0; margin: 0; text-align: right;"><%= headerBookingRefLabel %>: <b><%= bookingConfirmationVM.bookingReference %></b><br><%= headerGroupBookingRefLabel %>: <b><%= bookingConfirmationVM.groupBookingReference %></b></p>
                        </div>
                    </div>
                </div>

            </div>

            <hr/>

            <div class="row">
                <div class="col-md-3" style="text-align: center">
                    <div style="padding-left: 15px;">
                        <span style="font-size: 14px;"><b><%= bodyCheckInLabel %></b></span><br>
                        <span style="font-size: 21px;"><b><%= bookingConfirmationVM.checkInDay %></b></span><br>
                        <span style="font-size: 16px;"><b><%= bookingConfirmationVM.checkInMonth %></b></span><br>
                        <span style="font-size: 12px;"><%= bookingConfirmationVM.checkInSOWeekDay %></span><br>
                        <span style="font-size: 9px;"><%= bookingConfirmationVM.checkInHourDetails %></span><br>
                    </div>
                </div>
                <div class="col-md-1" style="text-align: center">
                    <span style="font-size: 21px; position: absolute; bottom: -80px;">-</span>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <div style="border-right: black solid; border-right-width: 1px; padding-right: 15px;">
                        <span style="font-size: 14px;"><b><%= bodyCheckOutLabel %></b></span><br>
                        <span style="font-size: 21px;"><b><%= bookingConfirmationVM.checkOutDay %></b></span><br>
                        <span style="font-size: 16px;"><b><%= bookingConfirmationVM.checkOutMonth %></b></span><br>
                        <span style="font-size: 12px;"><%= bookingConfirmationVM.checkOutISOWeekDay %></span><br>
                        <span style="font-size: 9px;"><%= bookingConfirmationVM.checkOutHourDetails %></span><br>
                    </div>
                </div>
                <div class="col-md-5" style="text-align: center">
                    <span style="font-size: 14px;"><b><%= bodyPriceLabel %></b></span><br>
                    <span style="font-size: 16px;"><b><%= hotel.ccyCode %> <%= bookingConfirmationVM.totalPrice %></b></span><br>
                    <span style="font-size: 12px;">1 <%= bodyRoomNoItemsLabel %> / <%= bookingConfirmationVM.lengthOfStay %> <%= bodyNightsNoLabel %></span><br>
                    <span style="font-size: 12px;"><%= bookingConfirmationVM.includedTaxes %></span>
                </div>
            </div>

            <hr/>

            <div class="row" style="min-height: 35px;">
                <div class="col-md-3" style="font-size: 12px;">
                    <b><%= bodyRoomLabel %></b>
                </div>
                <div class="col-md-9" style="font-size: 9px;">
                    <b><%= bookingConfirmationVM.roomCategoryName %></b><br>
                    <span><%= bodyBookingCapacityLabel %>: <%= bookingConfirmationVM.bookedCapacity %></span><br>
                    <!--<span><%= bodyBedSizesLabel %>: <%= bookingConfirmationVM.bedSizes %></span>-->
                </div>
            </div>

            <%if (bookingConfirmationVM.hasIncludedInPriceAops || bookingConfirmationVM.hasReservedAops) {%>
            <hr/>

            <div class="row" style="min-height: 50px;">
            
                <%if (bookingConfirmationVM.hasIncludedInPriceAops) {%>
                <div class="col-md-6">
                    <%if (bookingConfirmationVM.hasReservedAops) {%>
                    <div style="border-right: black solid; border-right-width: 1px; padding-right: 10px; min-height: 50px;"> 
                    <% } else{ %>
                    <div style="padding-right: 10px; min-height: 50px;"> 
                    <%}%>
                        
                        <span style="font-size: 12px;"><b><%= bodyAddOnProductsLabel %></b></span><br>
                        
                        <%if (bookingConfirmationVM.hasBreakfastAopIncludedInPrice) {%>
                        <span style="font-size: 9px;"><%= bodyBreakfastAopLabel %>: <%= bookingConfirmationVM.breakfastAop %></span><br>
                        <%}%>
                        
                        <%if (bookingConfirmationVM.hasOtherAopsIncludedInPrice) {%>
                        <span style="font-size: 9px;"><%= bodyOthersAopLabel %>: <%= bookingConfirmationVM.otherAops %></span>
                        <%}%>

                    </div>
                </div>
                <%}%>

                <div class="col-md-6">
                    <%if (bookingConfirmationVM.hasReservedAops) {%>
                        <div style="min-height: 50px;">
                            <span style="font-size: 12px;"><b><%= bodyReservedAddOnProductsLabel %></b></span><br>
                            <span style="font-size: 9px;"> <%= bookingConfirmationVM.reservedAops %> </span><br>
                            <span style="font-size: 9px;"> <%= bookingConfirmationVM.reservedAopsDescription %> </span><br>
                        </div>
                    <%}%>
                </div>
            </div>
            <%}%>

            <hr/>

            <div class="row" style="min-height: 30px;">
                <div class="col-md-3" style="font-size: 12px;">
                    <b><%= bodyGuestsLabel %></b>
                </div>
                <div class="col-md-9" style="font-size: 9px;">
                    <span><%= bookingConfirmationVM.guests %></span>
                </div>
            </div>

            <%if (bookingConfirmationVM.hasConfirmationNotes) {%>
            <hr/>

             <div class="row" style="min-height: 30px;">
                <div class="col-md-3" style="font-size: 12px;">
                    <b><%= bodyConfirmationNotesLabel %></b>
                </div>
                <div class="col-md-9" style="font-size: 9px;">
                    <span><%= bookingConfirmationVM.confirmationNotes %></span>
                </div>
            </div> 
            <%}%>                  

            <%if (bookingConfirmationVM.hasCancellationPolicyOrPenalty || bookingConfirmationVM.hasConstraints) {%>
            <hr/>
            
            <div class="row">
                
                <%if (bookingConfirmationVM.hasCancellationPolicyOrPenalty) {%>
                <div class="col-md-6">
                    
                    <%if (bookingConfirmationVM.hasConstraints) {%>
                    <div style="border-right: black solid; border-right-width: 1px; padding-right: 10px; min-height: 80px;"> 
                    <% } else{ %>
                    <div style="padding-right: 10px; min-height: 80px;"> 
                    <%}%>    

                        <span style="font-size: 12px;"><b><%= bodyCancellationPolicyLabel %></b></span><br>
                        <span style="font-size: 9px;"><%= bookingConfirmationVM.cancellationPolicyAndPenalty %></span>
                    </div>
                </div>
                <%}%>
                
                <%if (bookingConfirmationVM.hasConstraints) {%>
                <div class="col-md-6">
                    <div style="min-height: 80px;">
                        <span style="font-size: 12px;"><b><%= bodyConstraintsLabel %></b></span><br>
                        <span style="font-size: 9px;"><%= bookingConfirmationVM.constraints %></span>
                    </div>
                </div>
                <%}%>
                
            </div>
            <%}%>

            <!--div class="row">
                <div class="col-md-12" style="text-align:center; width:100%; padding-top: 15px;">
                    <p style="margin: auto;">
                        <span style="font-size: 6px;">Generated from </span>
                        <img src="<%= unitpalLogoSrcValue %>" style="height:12px">
                        <small><strong>Unit</strong>Pal</small>
                    </p>
                </div>
            </div-->
            
        </div>
        <% }); %>

</body>

</html>