<!doctype html>
<html>
<head>
    <base href="../../../">
    <meta charset="utf-8">
    <title><%= invoiceLabel %> <%= invoiceReference %></title>
    <!-- Fonts -->
    <link href='assets/client/static-assets/css/roboto-font.css' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="assets/client/static-assets/css/unitpal-print.css" rel="stylesheet">

    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding-right: 20px;
        padding-left: 20px;
        font-size:12px;
        line-height:18px;
        font-family: 'Roboto', sans-serif;
        color:#555;
    }
    .small-line-height {
        line-height:13px;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:4px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:10px;
    }
    td.title {
        padding-top: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }

    * {
        margin: 0;
    }
    html, body {
        height: 100%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
        margin: 0 auto -130px; /* the bottom margin is the negative value of the footer's height */
    }
    .footer, .push {
        height: 130px; /* .push must be the same height as .footer */
        font-size:12px;
        line-height:18px;
        font-family: 'Roboto', sans-serif;
        color:#555;
        text-align: center;
    }
    .text-details {
        white-space:pre-wrap;
    }
    .small-font {
        font-size: 11px;
        line-height: 13px;
    }
    .border-right {
        border-right: 1px dotted gray;
    }
    .envelope-address {
        border: 1px dotted gray;
        padding-left: 10px;
    }

    </style>
</head>

<body>
    <div class="invoice-box wrapper">
        <br>
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="5">
                    <table>
                        <tr>
                            <td class="title small-line-height" width="45%">
                                <div class="envelope-address">
                                    <br>
                                    <%= payerNameValue %><br>
                                    <%if (payerAddressFirstLineValue.length > 0) {%>
                                        <%= payerAddressFirstLineValue %><br>
                                    <%}%>
                                    <%if (payerAddressSecondLineValue.length > 0) {%>
                                        <%= payerAddressSecondLineValue %><br>
                                    <%}%>
                                    <%if (payerContactValue.length > 0) {%>
                                        <%= payerContactLabel %>: <%= payerContactValue %><br>
                                    <%}%>
                                    <br>
                                </div>

                                <%if (payerVatCodeValue.length > 0 || payerGovernmentCodeValue.length > 0 || additionalPayerDetails.length > 0) {%>
                                    <br>
                                <%}%>
                                
                                <%if (payerVatCodeValue.length > 0) {%>
                                    <%= payerVatCodeLabel %>: <%= payerVatCodeValue %><br>
                                <%}%>
                                <%if (payerGovernmentCodeValue.length > 0) {%>
                                    <%= payerGovernmentCodeLabel %>: <%= payerGovernmentCodeValue %><br>
                                <%}%>
                                <%if (additionalPayerDetails.length > 0) {%>
                                    <span class="text-details"><%= additionalPayerDetails %></span>
                                <%}%>
                                
                                <br>
                                <%if (externalBookingReferenceValue.length > 0) {%>
                                    <%= externalBookingReferenceLabel %>: <%= externalBookingReferenceValue %><br>
                                <%}%>
                                <%if (bookingReferenceValue.length > 0) {%>
                                    <%= bookingReferenceLabel %>: <%= bookingReferenceValue %><br>
                                <%}%>
                                <%if (roomNameValue.length > 0) {%>
                                    <%= roomNameLabel %>: <%= roomNameValue %><br>
                                <%}%>
                                <%if (notesFromBooking.length > 0) {%>
                                    Notes:<br>
                                    <%= notesFromBooking %>
                                <% } %>
                                
                            </td>
                            <td width="10%"></td>
                            <td width="45%" style="text-align:right;">
                                <img src="<%= hotelLogoSrcValue %>" style="max-width:100%; max-height:160px; height:auto;"><br>
                                <%= hotelVatLabel %>: <%= hotelVatValue %><br>
                                <%= invoiceLabel %> : <%= invoiceReference %><br>
                                <%= dateLabel %>: <%= dateValue %><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="5">
                    <table>
                        <br><br><br><br>
                        <tr>
                            <td>
                                <%if (addFieldValue1.length > 0) {%>
                                    <%= addFieldName1 %>: <%= addFieldValue1 %><br>
                                <%}%>
                            </td>
                            <td width="45%">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    <%= itemLabel %>
                </td>
                <td>
                    <%= qtyLabel %>
                </td>
                <td>
                    <%= netUnitPriceLabel %>
                </td>
                <td>
                    <%= subtotalLabel %>
                </td>
                <td>
                    <%= vatLabel %>
                </td>
            </tr>
            
            <% itemVMList.forEach(function(itemVM){ %>
                <%if (itemVM.isLastOne) {%>
                    <tr class="item last">
                <% } else{ %>
                     <tr class="item">
                <%}%>
                
                    <td>
                        <%= itemVM.name %>
                    </td>
                    <td>
                        <%= itemVM.qty %>
                    </td>
                    <td>
                        <%= ccySymbol %><%= itemVM.netUnitPriceFormatted %>
                    </td>
                    <td>
                        <%= ccySymbol %><%= itemVM.subtotalFormatted %>
                    </td>
                    <td>
                        <%= ccySymbol %><%= itemVM.vatFormatted %> / <%= itemVM.vatPercentageFormatted %>%
                    </td>
                </tr>
            <% }); %>
            
            <tr class="total">
                <td></td>
                <td colspan="4">
                   <%= paymentMethodLabel %>: <%= paymentMethodValue %> 
                   <%if (hasTransactionFee > 0) {%>(<%= transactionFeeLabel %>: <%if (transactionFeeIsFlat) {%><%= ccySymbol %><%}%><%= transactionFeeValue %><%if (!transactionFeeIsFlat) {%>%<%}%>)<%}%>
                   <br>
                   <%= subtotalLabel %>: <%= ccySymbol %><%= subtotalValueFormatted %> <br>
                   <%= vatLabel %>: <%= ccySymbol %><%= totalVatFormatted %> <br>
                   <%= totalLabel %>: <%= ccySymbol %><%= totalValueFormatted %>
                </td>
            </tr>
            <tr class="information">
                <td colspan="5">
                    <table>
                        <tr>
                            <td width="100%">
                                <br>
                                <%if (additionalInvoiceDetails.length > 0) {%>
                                    <span class="text-details small-font"><%=additionalInvoiceDetails%></span>
                                <%}%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            

            <tr class="top footer">
                <td colspan="5">
                    
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <div style="text-align:center; width:100%; padding-top: 20px; padding-left: 35px; padding-right: 35px;">
            <table style="width:93%;">
                <tr>
                    <td witdh="0%"></td>
                    <td witdh="33%" class="border-right">
                        <%= hotelNameValue %>
                    </td>
                    <td witdh="33%" class="border-right">
                        <%= hotelAddressFirstLineValue %><br>
                    </td>
                    <td witdh="33%">
                        <%= hotelAddressSecondLineValue %><br>
                    </td>
                    <td witdh="0%"></td>
                </tr>
                <tr>
                    <td witdh="0%"></td>
                    <td witdh="33%" class="border-right">
                        <%= hotelPhoneLabel %>: <%= hotelPhoneValue %>
                    </td>
                    <td witdh="33%" class="border-right">
                        <%= hotelEmailLabel %>: <%= hotelEmailValue %>
                    </td>
                    <td witdh="33%">
                        <%= hotelWebsite %><br>
                    </td>
                    <td witdh="0%"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>